html
    head
        link(rel="stylesheet" href="../css/auth.css")
        title Авторизация
    body
        #container
            header
                h1 MineMap - create your own map
            article.main
                form.form
                    h2 Авторизация
                    input#auth-login(type="text" placeholder="Логин")
                    input#auth-password(type="password" placeholder="Пароль")  
                    input#auth-submit(type="submit" value="Вход")
            footer
            script(src="../dist/bundle.js")
            script(src="../js/auth.js")