html
    head
        link(rel="stylesheet" href="../css/OtherProjects.css")
        title Другие проекты
    body
        header
            h1 MineMap - create your own map
        div(class="nav-panel")
            div(class="profile-button")
            div(class="projects-button")
            div(class="projects-button")
            div(class="exit-button")
        article.main
            div(class="content-box")
                div(class="project-box")
                    div(class="rating")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                div(class="project-box")
                    div(class="rating")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                div(class="project-box")
                    div(class="rating")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                div(class="project-box")
                    div(class="rating")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                div(class="project-box")
                    div(class="rating")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                div(class="project-box")
                    div(class="rating")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
                        img(class="stars" src="../img/star.png")
        footer
        script(src="../dist/bundle.js")
        script(src="../js/OtherProjects.js")